# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/*/31338/
/broadcast/*/421614/
/broadcast/**/dry-run/

# Docs
docs/
slither-report.md

# Dotenv file
.env

.vscode
lcov.info
report/

.DS_Store

crytic-export
test/invariants/out
